/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

figure > img {
  width: 100%;
  display: block;
}

/* Links Style */

ul {
  gap: 30px;
  justify-content: center;
  line-height: 40px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

.container-mini {
  max-width: 900px;
  margin: 0 auto;
}

header {
  background-image: url(/img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-list {
  font-size: 1.2rem;
  font-weight: 600;
}

.container.nav-list {
  gap: 50px;
}

.navbar {
  min-height: 80px;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar > * {
  padding: 10px 0;
  align-self: center;
}

.navbar-menu {
  text-align: center;
}

.navbar-login {
  text-align: right;
}

.jumbotron {
  /* background-color: darkblue; */
  height: 500px;
  padding: 60px 0;
  justify-content: center;
}

.jumbotron-content {
  /* background-color: pink; */
  /* width: 50%; */
  height: 100%;
  text-align: center;
}

/* Title & P Style */

h1 {
  margin-bottom: 40px;
  line-height: 48px;
  font-weight: 900;
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 30px;
  line-height: 48px;
  font-weight: 800;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  line-height: 28px;
  font-size: 1.5rem;
}

/* ------------------------------------------------------------------- */
.bgcolor-w {
  background-color: #fff;
}

.bgcolor-g {
  background-color: #d3d3d3;
}

.bgcolor-p {
  background-color: #f08080;
}

.bgcolor-lg {
  background-color: #20b2aa;
}

.bgcolor-black {
  background-color: black;
}

.bgcolor-lightblue {
  background-color: #8ea1e1;
}

/* Text-Color */

.color-w {
  color: white;
}

.color-b {
  color: black;
}

.color-lightblue {
  color: #7289da;
}

/* Button Style */

button {
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  /* margin-right: 25px; */
}

.button-sm {
  font-size: 1.1rem;
}

.button-lg {
  font-size: 1.5rem;
}

.btn-mrgn-top {
  margin-top: 30px;
}

.header-button {
  display: flex;
  justify-content: center;
  gap: 50px;
}
/* ------------------------------------------------------------------- */

.conteiner-main {
  display: flex;
  padding: 100px 300px;
  /* gap: 150px; */
  justify-content: center;
  align-items: center;
}

.container-img {
  flex-basis: 60%;
}

.container-info {
  flex-basis: 40%;
}

.container-rectangle {
  height: auto;
  padding: 60px 0;
}

.green-rectangle {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
  text-align: center;
  align-items: center;
}

.bgimg-avventura {
  width: 600px;
  background-image: url(/img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Footer */

footer {
  /* padding: 50px 0; */
  background-color: white;
}

.footer-container {
  background-color: #23272a;
  flex-basis: 100%;
  justify-content: center;
}

.footer-top {
  display: flex;
  /* flex-basis: 70%; */
  max-width: 1400px;
  height: 600px;
  border-bottom: 1px solid #7289da;
  padding-top: 80px;
  margin: 0 auto;
}

.footer-left {
  flex-basis: 30%;
}
.footer-right {
  flex-basis: 70%;
}

.footer-nav {
  height: 100%;
  display: flex;
}

.footer-nav > * {
  flex-basis: 25%;
}

.footer-container-bottom {
  background-color: #23272a;
  flex-basis: 100%;
}
.footer-bottom {
  justify-content: space-between;
  display: flex;
  background-color: #23272a;
  flex-basis: 100%;
  padding: 20px;
}

.right-button {
  flex-basis: 30px;
}

span {
  display: inline-block;
}

#italian-logo {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.italian-div {
  display: flex;
  align-items: center;
}

h4 {
  margin-right: 5px;
}

.fa-brands {
  margin-top: 15px;
  font-size: 28px;
  margin-right: 15px;
}

.font-footer {
  font-style: bold;
}
